* {
  padding: 0;
  margin: 0;
}

body {
  height: 100%;
  font-size: 10px;
  font-family: "Rubik", sans-serif;
  background: rgb(235, 232, 232);
}

.container {
  width: 100%;
  height: 100vh;
  background: rgb(235, 232, 232);
}

.imagen-fondo-izda {
  position: fixed;
  width: 26%;
  height: 90%;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(hsl(293, 100%, 63%)),
    to(hsl(264, 100%, 61%))
  );
  background: -o-linear-gradient(hsl(293, 100%, 63%), hsl(264, 100%, 61%));
  background: linear-gradient(hsl(293, 100%, 63%), hsl(264, 100%, 61%));
  border-radius: 0 0 48% 48%;
  left: -30em;
}

.imagen-fondo-der {
  width: 100%;
  height: 100%;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(hsl(293, 100%, 63%)),
    to(hsl(264, 100%, 61%))
  );
  background: -o-linear-gradient(hsl(293, 100%, 63%), hsl(264, 100%, 61%));
  background: linear-gradient(hsl(293, 100%, 63%), hsl(264, 100%, 61%));
  border-radius: 70% 0 0 0;
  opacity: 6%;
  position: fixed;
  left: 116em;
  top: 8em;
}

.container-movil {
  width: 230px;
  height: 460px;
  background-color: rgb(214, 212, 212);
  position: relative;
  border-radius: 24px;
  top: 10em;
  left: 20em;
  border: 10px solid white;
  -webkit-box-shadow: 8px 8px 16px rgb(183, 181, 181);
  box-shadow: 8px 8px 16px rgb(129, 129, 129);
}
.cuadro-blanco {
  height: 14px;
  width: 60%;
  left: 20%;
  background-color: rgb(255, 255, 255);
  position: absolute;
  border-radius: 0px 0px 10px 10px;
  z-index: 1;
}
.superior {
  width: 100%;
  background: -webkit-gradient(
    linear,
    right top,
    left top,
    from(hsl(293, 100%, 63%)),
    to(hsl(264, 100%, 61%))
  );
  background: -o-linear-gradient(
    right,
    hsl(293, 100%, 63%),
    hsl(264, 100%, 61%)
  );
  background: linear-gradient(
    to left,
    hsl(293, 100%, 63%),
    hsl(264, 100%, 61%)
  );
  border-radius: 16px 16px 10px 10px;
  height: 72px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.superior img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 2px solid white;
  margin-left: 18px;
  margin-top: 10px;
}

.nombre p {
  position: relative;
  left: -28px;
  top: 4px;
  font-size: 10px;
}

.nombre h2 {
  position: relative;
  left: -28px;
  top: 4px;
  font-size: 12px;
}

h2 {
  font-size: 14px;
  color: white;
  font-weight: lighter;
}

.walk {
  color: rgb(194, 194, 189);
}

.material-symbols-outlined2 {
  font-size: 14px;
  color: white;
}

.mensaje {
  width: 48%;
  background: hsla(278, 24%, 65%, 0.304);
  border-radius: 4px;
  margin-top: 10px;
  margin-left: 8px;
  font-size: 8px;
  text-align: left;
  color: hsl(276, 55%, 52%);
  padding: 4px;
}

.mensaje2,
.mensaje3 {
  width: 50%;
  background: hsla(0, 0%, 100%, 0.793);
  border-radius: 4px;
  margin-top: 10px;
  margin-left: 100px;
  font-size: 8px;
  padding: 4px;
  text-align: left;
  color: hsl(271, 15%, 43%);
}

.mensaje3 {
  width: 40%;
  margin-left: 124px;
}

.mensaje-imagenes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  padding: 6px;
  margin-left: 10px;
}

.mensaje-imagenes img {
  border-radius: 10px;
  width: 45px;
  height: 45px;
  border: none;
  margin-left: 6px;
}

div p.right {
  color: hsl(271, 15%, 43%);
  text-align: left;
  font-size: 8px;
  margin-left: 8px;
}

.precios {
  width: 59%;
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(hsl(293, 100%, 63%)),
    to(hsl(264, 100%, 61%))
  );
  background: -o-linear-gradient(
    left,
    hsl(293, 100%, 63%),
    hsl(264, 100%, 61%)
  );
  background: linear-gradient(
    to right,
    hsl(293, 100%, 63%),
    hsl(264, 100%, 61%)
  );
  padding: 8px;
  border-radius: 8px 8px 8px 2px;
  margin-left: 8px;
  margin-top: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  color: azure;
}

.precios p {
  padding-left: 8px;
  font-size: 9px;
}

.precios span {
  padding-left: 18px;
  font-size: 10px;
  margin-right: 5px;
}

.textarea {
  padding-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.textarea input {
  width: 106%;
  height: 29px;
  border-radius: 24px;
  padding: 4px 4px 4px 12px;
  margin-left: 15px;
  margin-top: 11px;
  border: none;
  font-size: 0.9em;
  margin-right: -4px;
}

.material-symbols-outlined {
  position: relative;
  color: rgb(255, 255, 255);
  left: -22px;
  top: 6px;
  background: rgb(25, 12, 62);
  border-radius: 50%;
  font-size: 13px;
  font-weight: 600;
  padding: 5px;
}

.texto {
  position: absolute;
  left: 8%;
  top: 82%;
  width: 84%;
}

.texto h1 {
  font-size: 36px;
  font-weight: lighter;
  padding-bottom: 20px;
  color: hsl(271, 36%, 24%);
}

.texto p {
  font-size: 1.6em;
  font-weight: lighter;
  color: hsl(270, 7%, 64%);
  line-height: 1.5em;
}

/*--------------------------- Responsive -----------------------------*/

@media screen and (max-width: 550px) {
  html {
    background: rgb(235, 232, 232);
  }

  .container-movil {
    top: 7em;
    left: 25%;
  }

  .imagen-fondo-izda {
    width: 50em;
    height: 68%;
    left: -28em;
  }
  .imagen-fondo-der {
    width: 100%;
    left: 18em;
    top: 26rem;
  }

  .texto {
    top: 84%;
    padding-bottom: 2rem;
    width: 84%;
  }

  .texto h1 {
    font-size: 36px;
    text-align: center;
  }

  .texto p {
    font-size: 1.2rem;
    line-height: 1.4em;
    text-align: center;
  }
}
@media screen and (max-width: 550px) and (orientation: landscape) {
  .container-movil {
    top: 6%;
    left: 25%;
  }

  .imagen-fondo-izda {
    width: 50em;
    height: 80%;
    left: -16rem;
    top: 0;
  }
  .imagen-fondo-der {
    width: 100%;
    left: 18em;
    top: 16rem;
  }

  .texto {
    top: 28rem;
  }
}

@media screen and (min-width: 551px) {
  .texto h1 {
    font-size: 40px;
    text-align: center;
  }

  .texto p {
    font-size: 2em;
    line-height: 1.4em;
    text-align: center;
  }

  .container-movil {
    top: 7em;
    left: 30%;
  }

  .imagen-fondo-izda {
    top: -8rem;
    width: 100%;
    left: -50%;
  }
  .imagen-fondo-der {
    left: 14rem;
    top: 26rem;
  }
}
@media screen and (min-width: 551px) and (orientation: landscape) {
  .container-movil {
    top: 2%;
    left: 2%;
  }

  .imagen-fondo-izda {
    width: 50em;
    height: 80%;
    left: -16rem;
    top: 0;
  }
  .imagen-fondo-der {
    width: 70%;
    left: 20rem;
    top: 3rem;
  }

  .texto {
    width: 40%;
    top: 20%;
    left: 55%;
  }
  .texto h1 {
    font-size: 38px;
    text-align: start;
  }

  .texto p {
    font-size: 1.6em;
    line-height: 1.5em;
    text-align: center;
    text-align: start;
  }
}

@media screen and (min-width: 768px) and (orientation: landscape) {
  .imagen-fondo-der {
    width: 70%;
    left: 30rem;
    top: 1rem;
  }

  .texto {
    width: 50%;
    top: 20%;
    left: 44%;
  }
  .texto h1 {
    font-size: 40px;
    text-align: start;
  }

  .texto p {
    font-size: 1.9em;
    line-height: 1.5em;
    text-align: center;
    text-align: start;
  }
}
@media screen and (min-width: 1024px) {
  .texto {
    left: 52%;
    top: 38%;
    width: 40%;
  }
  .texto h1 {
    font-size: 38px;
    text-align: start;
  }

  .texto p {
    font-size: 1.6em;
    line-height: 1.5em;
    text-align: center;
    text-align: start;
  }

  .container-movil {
    width: 230px;
    height: 460px;
    top: 7rem;
    left: 16.3rem;
  }
  .imagen-fondo-izda {
    height: 76%;
    top: 0;
    width: 46%;
    left: -10.3em;
  }
  .imagen-fondo-der {
    width: 46%;
    left: 46rem;
    top: 2rem;
  }
}
@media screen and (min-width: 1024px) and (orientation: landscape) {
  .container-movil {
    top: 6%;
    left: 7.5rem;
  }

  .imagen-fondo-izda {
    width: 60%;
    height: 80%;
    left: -18rem;
    top: 0;
  }
  .imagen-fondo-der {
    width: 80%;
    left: 40rem;
    top: 2rem;
  }

  .texto {
    top: 20%;
    left: 50%;
  }
  .texto h1 {
    font-size: 44px;
    text-align: start;
  }

  .texto p {
    font-size: 2em;
    line-height: 1.5em;
    text-align: center;
    text-align: start;
  }
}
@media screen and (min-width: 1366px) {
  .container-movil {
    width: 230px;
    height: 460px;
    top: 7rem;
    left: 18.3rem;
  }
  .texto {
    left: 46%;
  }
  .texto h1 {
    font-size: 42px;
  }

  .texto p {
    font-size: 1.3rem;
  }
  .imagen-fondo-izda {
    height: 76%;
    top: 0;
    width: 46%;
    left: -12.3rem;
  }
  .imagen-fondo-der {
    width: 46%;
    left: 60rem;
    top: 2rem;
  }
}

@media screen and (min-width: 1366px) and (orientation: landscape) {
  .container-movil {
    top: 10%;
    left:10rem;
  }

  .imagen-fondo-izda {
    width: 70%;
    height: 90%;
    left: -34rem;
    top: 0rem;
  }
  .imagen-fondo-der {
    width: 80%;
    left: 58rem;
    height: 100%;
  }

  .texto {
    width: 50%;
    top: 20%;
    left: 40%;
  }
}
@media screen and (min-width: 1700px) {
  .container-movil {
    top: 7rem;
    left: 29.5rem;
  }
  .imagen-fondo-izda {
    width: 40%;
    height: 86%;
    left: -16em;
  }
  .imagen-fondo-der {
    left: 76rem;
    top: 5rem;
  }
}
@media screen and (min-width: 1700px) and (orientation: landscape) {
  .container-movil {
    top: 8%;
    left: 22rem;
  }
  .imagen-fondo-izda {
    width: 40%;
    height: 76%;
    left: -16em;
  }
  .imagen-fondo-der {
    left: 70rem;
    top: 0;
    height: 100%;
  }
  .texto {

    top: 25%;
    left: 46%;
  }
}
@media screen and (min-width: 1920px) {
  .container-movil {
    left: 34.8rem;
  }

  .texto h1 {
    font-size: 62px;
  }

  .texto p {
    font-size: 2.5em;
  }

  .imagen-fondo-izda {
    left: -10rem;
  }
  .imagen-fondo-der {
    left: 84%;
    top: 4em;
  }
}
@media screen and (min-width: 1920px) and (orientation: landscape) {
  .container-movil {
    left: 24rem;
    top: 8%;
  }
  .texto {

    top: 25%;
    left: 46%;
  }
  .texto h1 {
    font-size: 62px;
  }

  .texto p {
    font-size: 2.5em;
  }

  .imagen-fondo-izda {
    left: -10rem;
  }
  .imagen-fondo-der {
    left: 84%;
    top: 4em;
  }
}
